$primary-120:#2B211C;
$primary:#4A3830;
$primary-80:#886658;
$primary-60:#A37F71;
$primary-40:#CBB6AF;
$primary-10:#F3EEEC;

$success-120:#48970F;
$success:#7CD31F;
$success-20:#DDFAA5;
$success-10:#F0FCD1;

$info-120:#1566B5;
$info:#2AAFFC;
$info-20:#A9EFFE;
$info-10:#D4F9FE;

$error-120:#B71D4F;
$error:#FF3A55;
$error-20:#FFBBB0;
$error-10:#FFE0D7;

$neutral:#000000;
$neutral-80:#4B4B4B;
$neutral-60:#909090;
$neutral-40:#ECECEC;
$neutral-15:#F4F4F4;
$neutral-10:#F9F9F9;
$neutral-0:#FFFFFF;
