<header class="border-bottom border-1">
    <div class="container mx-auto ">

        <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="../assets/images/logo.png" class="logo-img me-4" alt="logo">
                </a>



                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="d-flex align-items-center bg-white border head-search-group w-100">
                        <span class="material-symbols-outlined icon-img-24 me-1">
                            search
                        </span>
                        <input type="text" class="header-search w-100" placeholder="搜尋景點、地點或城市" aria-label="Username"
                            aria-describedby="basic-addon1">
                    </div>
                    <!-- <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form> -->
                    <div class="col-6 d-flex align-items-center justify-content-end">
                        <a href="#" class="me-3 border-0 "><span class="material-symbols-outlined icon-img-24 ">
                                shopping_cart
                            </span></a>
                        <a href="login.html" class="btn btn-primary text-white title">登入 / 註冊</a>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <button class="border-0 icon-img-40" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="material-symbols-outlined icon-img-24  d-md-none">
                            search
                        </span>
                    </button>

                    <button class="border-0 icon-img-40" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="material-symbols-outlined icon-img-24 d-md-none">
                            shopping_cart
                        </span>
                    </button>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </nav>

    </div>
</header>